/www/*.html
/www/arrow.png
/make_html.py
/bible_verse.py
/__pycache__
*.pyc
/bible-posts.zip

# Game of Life
# (will need to restructure all this when I have more projects)
game-of-life


# TODO
/format.txt
/old_and_new_covenants.txt
/oldvsnew_covenant.txt
/pairs.txt
/sermons.txt
/steps.txt

