body
{
    font-family: sans-serif;
    color: #002070;
    background-color: #b0d0ff;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    color: #b0d0ff;
    background-color: #002070;
    padding: 5px;
    text-align: center;
}

strong
{
    color: #990000;
    font-weight: bold;
}

p.footnote
{
    font-style: italic;
    font-size: 12px;
}

span.reference
{
    font-weight: bold;
    color: black;
    font-size: 16px;
    padding-right: 10px;
}

p.verse-box
{
    background-color: #cccccc;
    border: 1px dashed #002070;
    color: black;
    font-style: italic;
    font-size: 14px;
    padding: 4px;
}

table {
    border-collapse: collapse;
}

th {
color: #b0d0ff;
background-color: #002070;
border: 1px solid black;
padding: 3px;
}

td {
border: 1px solid black;
width: 150px;
padding: 3px;
}

div.step {
    color: #b0d0ff;
    background-color: #002070;
    padding: 3px;
    text-align: center;
    width: 250px;
}

div.arrow {
    padding: 3px;
    text-align: center;
    width: 250px;
}

div#flow {
    padding: 3px;
    margin-left: 100px;
    text-align: center;
    border: 1px dashed black;
    width: 256px;
}
